<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-accessories-menu" label="Accessories">
  <item label="BurpSuite">
    <action name="Execute">
      <command>burpsuite</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-editors-menu" label="Editors">
  <item label="Emacs">
    <action name="Execute">
      <command>emacs</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Emacs</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Vscode">
    <action name="Execute">
      <command>code</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Sublime">
    <action name="Execute">
      <command>subl3</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Atom">
    <action name="Atom">
      <command>atom</command>
    </action>
  </item>
</menu>

<menu id="apps-term-menu" label="Terminals">
  <item label="Termite">
    <action name="Execute">
      <command>termite</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Xterm">
    <action name="Execute"><command>xterm</command></action>
  </item>
  <item label="Standard">
    <action name="Execute"><command>xfce4-terminal</command></action>
  </item>
</menu>
<menu id="apps-net-menu" label="Internet">
  <item label="Brave">
    <action name="Execute">
      <command>brave</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>brave</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="discord">
    <action name="Execute">
      <command>discord</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>discord</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-office-menu" label="Office">
  <item label="Libreoffice">
    <action name="Execute">
      <command>libreoffice</command>
    </action>
  </item>
  <item label="Evince">
    <action name="Execute">
      <command>evince</command>
    </action>
  </item
</menu>

<menu id="apps-multimedia-menu" label="Multimedia">
  <item label="Spotify">
    <action name="Execute">
      <command>spotify</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="MPV">
    <action name="Execute">
      <command>mpv</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>MPV</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="VLC">
    <action name="VLC">
      <command>vlc</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>VLC</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-fileman-menu" label="File Managers">
  <item label="Thunar">
    <action name="Execute">
      <command>Thunar</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="PCMan File Manager">
    <action name="Execute">
      <command>pcmanfm</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-graphics-menu" label="Graphics">
  <item label="Gimp">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Pinta">
    <action name="Execute">
      <command>pinta</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Inkscape">
    <action name="Execute">
      <command>inkscape</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
 <item label="Change Background">
   <action name="Execute">
   <command>nitrogen ~/Imagens/Wall</command></action>
  </item>

  <item label="Print">
    <action name="Execute">
      <command>flameshot</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Tint2">
    <action name="Execute">
      <command>bash ~/.config/tint2/launch.sh</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>

  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Icons e Temas">
    <action name="Execute">
      <command>lxappearance</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <menu id="apps-accessories-menu"/>
  <menu id="apps-editors-menu"/>
  <menu id="apps-graphics-menu"/>
  <menu id="apps-net-menu"/>
  <menu id="apps-office-menu"/>
  <menu id="apps-multimedia-menu"/>
  <menu id="apps-term-menu"/>
  <menu id="apps-fileman-menu"/>
  <separator label="System" />
  <menu id="system-menu"/>
  <separator />
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
